.gpt3__features{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 4rem;
}
.gpt3__features-content{
    flex: 0.7;
}
.gpt3__features-content p{
    color: var(--color-subtext);
    margin: 2rem 0;
}
.gpt3__features-container{
    flex: 1;
     
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
@media screen and (max-width:980px) {
    .gpt3__features{
        flex-direction: column;
    }
    .gpt3__features-content{
        text-align: center;
    }
}
@media screen and (max-width:980px) {
    .gpt3__features-content h1{
        font-size: 24px;
    }
    .gpt3__features-content p{
        margin-bottom: 0;
    }
}