gpt3__blog{
    display: flex;
    flex-direction: column;

}
.gpt3__blog-container{
    display: flex;
    flex-direction: row;

    /* gap: 3rem; */
    height: 100%;
}

.gpt3__blog-heading{
    text-align: left;
    width: 100%;

    margin-bottom: 5rem ;
}
.gpt3__blog-heading h1{
    font-size: 62px;
    font-weight: 800;
    line-height: 75px;
}
.gpt3__blog-groupA{
    flex: 0.75;
    margin-right: 2rem;
}
.gpt3__blog-groupB{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 2rem;
}
@media screen and (max-width:920px) {
    .gpt3__blog-container{
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .gpt3__blog-heading h1{
        font-size: 38px;
        line-height: 55px;
    }
    .gpt3__blog-groupA{
        margin-right: 0;
    }
}
@media screen and (max-width:920px) {
    .gpt3__blog-groupB{
        grid-template-columns: 1fr;
    }
}